<div>
  <h1><%= "#{@idea.title}" %></h1>
  <p>
   <%= "#{@idea.idea}" %> 
  </p>
    <p>
    <a href="http://gitbox-131549.use1.nitrousbox.com/ideas"class="allideass" >All Ideas </a>|<a href="/idea/<%= @idea.id %>/destroy">delete</a>
  </p>
  
  